<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>
        <div class="container">
            <div class="row">
                <h1>Opsis awesome pet application</h1>
            </div>
            <hr>
            <div class="row">
                <p style="height:100px;">Hello and welcome to Opsis Kalopsis web page!</p>
            </div>
        </div>

        <% include ./include/script.ejs %>
        <% include ./include/footer.ejs %>
    </body>
</html>
