<!DOCTYPE html>
<html lang="en">
<% include ./include/head %>
<body>
<% include ./include/nav %>
<div class="container">
    <h1>Awesome pictures on <%= name%></h1>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="grump1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="grump2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<% include ./include/script.ejs %>
<% include ./include/footer.ejs %>
</body>
</html>

<!-- <img src="grump1.jpg" style="margin-right: 0px;">
        <img src="grump2.jpg" style="margin-right: 0px;"> -->
