<nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/info">Info</a>
    <a class="nav-link" href="/picture">Picture</a>
    <a class="nav-link" href="/data">JSON Data</a>
</nav>
